<div class="card-deck">
  <ng-container *ngFor="let item of items;">
    <div class="card text-center my-3" style="min-width: 18rem;">
      <img class="card-img-top" src="https://qph.fs.quoracdn.net/main-qimg-a3d793bb3d518f4f8eeae44e53dc6814" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Item Title</h5>
        <p class="card-text">Check out details about this project</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </ng-container>
</div>
